<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aisino.dao.shiro.FilterChainDefinitionMapper" >
  <resultMap id="BaseResultMap" type="com.aisino.domain.shiro.FilterChainDefinition" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="URI" property="uri" jdbcType="VARCHAR" />
    <result column="FILTER" property="filter" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, URI, FILTER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aisino.domain.shiro.FilterChainDefinitionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ASN_FILTERCHAINDEFENITION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ASN_FILTERCHAINDEFENITION
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ASN_FILTERCHAINDEFENITION
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aisino.domain.shiro.FilterChainDefinitionExample" >
    delete from ASN_FILTERCHAINDEFENITION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aisino.domain.shiro.FilterChainDefinition" >
    insert into ASN_FILTERCHAINDEFENITION (ID, URI, FILTER
      )
    values (#{id,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{filter,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aisino.domain.shiro.FilterChainDefinition" >
    insert into ASN_FILTERCHAINDEFENITION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uri != null" >
        URI,
      </if>
      <if test="filter != null" >
        FILTER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="filter != null" >
        #{filter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aisino.domain.shiro.FilterChainDefinitionExample" resultType="java.lang.Integer" >
    select count(*) from ASN_FILTERCHAINDEFENITION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ASN_FILTERCHAINDEFENITION
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uri != null" >
        URI = #{record.uri,jdbcType=VARCHAR},
      </if>
      <if test="record.filter != null" >
        FILTER = #{record.filter,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ASN_FILTERCHAINDEFENITION
    set ID = #{record.id,jdbcType=INTEGER},
      URI = #{record.uri,jdbcType=VARCHAR},
      FILTER = #{record.filter,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aisino.domain.shiro.FilterChainDefinition" >
    update ASN_FILTERCHAINDEFENITION
    <set >
      <if test="uri != null" >
        URI = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="filter != null" >
        FILTER = #{filter,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aisino.domain.shiro.FilterChainDefinition" >
    update ASN_FILTERCHAINDEFENITION
    set URI = #{uri,jdbcType=VARCHAR},
      FILTER = #{filter,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <!--   List<LinkedHashMap<String, String>> selectAllOrderByIdDesc(); -->
  <select id="selectAllOrderByIdDesc" resultType="com.aisino.domain.shiro.FilterChainDefinition">
  	SELECT * FROM
	ASN_FILTERCHAINDEFENITION
	ORDER BY ID DESC
  </select>
</mapper>