<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aisino.dao.shiro.TestMapper">
  <resultMap id="BaseResultMap" type="com.aisino.domain.shiro.Test">
    <id column="CODE" jdbcType="VARCHAR" property="code" />
    <id column="NO" jdbcType="VARCHAR" property="no" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="EXTEND" jdbcType="VARCHAR" property="extend" />
    <result column="BILLNUMBER" jdbcType="VARCHAR" property="billnumber" />
    <result column="BUYERNAME" jdbcType="VARCHAR" property="buyername" />
    <result column="BUYERTAXCODE" jdbcType="VARCHAR" property="buyertaxcode" />
    <result column="BUYERADDRESSPHONE" jdbcType="VARCHAR" property="buyeraddressphone" />
    <result column="BUYERBANKACCOUNT" jdbcType="VARCHAR" property="buyerbankaccount" />
    <result column="SELLERNAME" jdbcType="VARCHAR" property="sellername" />
    <result column="SELLERTAXCODE" jdbcType="VARCHAR" property="sellertaxcode" />
    <result column="SELLERADDRESSPHONE" jdbcType="VARCHAR" property="selleraddressphone" />
    <result column="SELLERBANKACCOUNT" jdbcType="VARCHAR" property="sellerbankaccount" />
    <result column="CREATEDATE" jdbcType="VARCHAR" property="createdate" />
    <result column="MONTH" jdbcType="VARCHAR" property="month" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="TAXRATE" jdbcType="DECIMAL" property="taxrate" />
    <result column="TAX" jdbcType="DECIMAL" property="tax" />
    <result column="MAINDETAILNAME" jdbcType="VARCHAR" property="maindetailname" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="INVOICER" jdbcType="VARCHAR" property="invoicer" />
    <result column="CASHIER" jdbcType="VARCHAR" property="cashier" />
    <result column="CHECKER" jdbcType="VARCHAR" property="checker" />
    <result column="ISPRINTED" jdbcType="VARCHAR" property="isprinted" />
    <result column="ISLISTED" jdbcType="VARCHAR" property="islisted" />
    <result column="ISCANCELED" jdbcType="VARCHAR" property="iscanceled" />
    <result column="AUTHCODE" jdbcType="VARCHAR" property="authcode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CODE, NO, TYPE, EXTEND, BILLNUMBER, BUYERNAME, BUYERTAXCODE, BUYERADDRESSPHONE, BUYERBANKACCOUNT, 
    SELLERNAME, SELLERTAXCODE, SELLERADDRESSPHONE, SELLERBANKACCOUNT, CREATEDATE, MONTH, 
    AMOUNT, TAXRATE, TAX, MAINDETAILNAME, MEMO, INVOICER, CASHIER, CHECKER, ISPRINTED, 
    ISLISTED, ISCANCELED, AUTHCODE
  </sql>
  <select id="selectByExample" parameterType="com.aisino.domain.shiro.TestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IM_WEB_INVOICE_DATA_TAB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.aisino.domain.shiro.TestKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IM_WEB_INVOICE_DATA_TAB
    where CODE = #{code,jdbcType=VARCHAR}
      and NO = #{no,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.aisino.domain.shiro.TestKey">
    delete from IM_WEB_INVOICE_DATA_TAB
    where CODE = #{code,jdbcType=VARCHAR}
      and NO = #{no,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.aisino.domain.shiro.TestExample">
    delete from IM_WEB_INVOICE_DATA_TAB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aisino.domain.shiro.Test">
    insert into IM_WEB_INVOICE_DATA_TAB (CODE, NO, TYPE, 
      EXTEND, BILLNUMBER, BUYERNAME, 
      BUYERTAXCODE, BUYERADDRESSPHONE, BUYERBANKACCOUNT, 
      SELLERNAME, SELLERTAXCODE, SELLERADDRESSPHONE, 
      SELLERBANKACCOUNT, CREATEDATE, MONTH, 
      AMOUNT, TAXRATE, TAX, 
      MAINDETAILNAME, MEMO, INVOICER, 
      CASHIER, CHECKER, ISPRINTED, 
      ISLISTED, ISCANCELED, AUTHCODE
      )
    values (#{code,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{extend,jdbcType=VARCHAR}, #{billnumber,jdbcType=VARCHAR}, #{buyername,jdbcType=VARCHAR}, 
      #{buyertaxcode,jdbcType=VARCHAR}, #{buyeraddressphone,jdbcType=VARCHAR}, #{buyerbankaccount,jdbcType=VARCHAR}, 
      #{sellername,jdbcType=VARCHAR}, #{sellertaxcode,jdbcType=VARCHAR}, #{selleraddressphone,jdbcType=VARCHAR}, 
      #{sellerbankaccount,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, #{month,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{taxrate,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, 
      #{maindetailname,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{invoicer,jdbcType=VARCHAR}, 
      #{cashier,jdbcType=VARCHAR}, #{checker,jdbcType=VARCHAR}, #{isprinted,jdbcType=VARCHAR}, 
      #{islisted,jdbcType=VARCHAR}, #{iscanceled,jdbcType=VARCHAR}, #{authcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aisino.domain.shiro.Test">
    insert into IM_WEB_INVOICE_DATA_TAB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="no != null">
        NO,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="extend != null">
        EXTEND,
      </if>
      <if test="billnumber != null">
        BILLNUMBER,
      </if>
      <if test="buyername != null">
        BUYERNAME,
      </if>
      <if test="buyertaxcode != null">
        BUYERTAXCODE,
      </if>
      <if test="buyeraddressphone != null">
        BUYERADDRESSPHONE,
      </if>
      <if test="buyerbankaccount != null">
        BUYERBANKACCOUNT,
      </if>
      <if test="sellername != null">
        SELLERNAME,
      </if>
      <if test="sellertaxcode != null">
        SELLERTAXCODE,
      </if>
      <if test="selleraddressphone != null">
        SELLERADDRESSPHONE,
      </if>
      <if test="sellerbankaccount != null">
        SELLERBANKACCOUNT,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="month != null">
        MONTH,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="taxrate != null">
        TAXRATE,
      </if>
      <if test="tax != null">
        TAX,
      </if>
      <if test="maindetailname != null">
        MAINDETAILNAME,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="invoicer != null">
        INVOICER,
      </if>
      <if test="cashier != null">
        CASHIER,
      </if>
      <if test="checker != null">
        CHECKER,
      </if>
      <if test="isprinted != null">
        ISPRINTED,
      </if>
      <if test="islisted != null">
        ISLISTED,
      </if>
      <if test="iscanceled != null">
        ISCANCELED,
      </if>
      <if test="authcode != null">
        AUTHCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="extend != null">
        #{extend,jdbcType=VARCHAR},
      </if>
      <if test="billnumber != null">
        #{billnumber,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null">
        #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="buyertaxcode != null">
        #{buyertaxcode,jdbcType=VARCHAR},
      </if>
      <if test="buyeraddressphone != null">
        #{buyeraddressphone,jdbcType=VARCHAR},
      </if>
      <if test="buyerbankaccount != null">
        #{buyerbankaccount,jdbcType=VARCHAR},
      </if>
      <if test="sellername != null">
        #{sellername,jdbcType=VARCHAR},
      </if>
      <if test="sellertaxcode != null">
        #{sellertaxcode,jdbcType=VARCHAR},
      </if>
      <if test="selleraddressphone != null">
        #{selleraddressphone,jdbcType=VARCHAR},
      </if>
      <if test="sellerbankaccount != null">
        #{sellerbankaccount,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="taxrate != null">
        #{taxrate,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="maindetailname != null">
        #{maindetailname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="invoicer != null">
        #{invoicer,jdbcType=VARCHAR},
      </if>
      <if test="cashier != null">
        #{cashier,jdbcType=VARCHAR},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="isprinted != null">
        #{isprinted,jdbcType=VARCHAR},
      </if>
      <if test="islisted != null">
        #{islisted,jdbcType=VARCHAR},
      </if>
      <if test="iscanceled != null">
        #{iscanceled,jdbcType=VARCHAR},
      </if>
      <if test="authcode != null">
        #{authcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aisino.domain.shiro.TestExample" resultType="java.lang.Long">
    select count(*) from IM_WEB_INVOICE_DATA_TAB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IM_WEB_INVOICE_DATA_TAB
    <set>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null">
        NO = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.extend != null">
        EXTEND = #{record.extend,jdbcType=VARCHAR},
      </if>
      <if test="record.billnumber != null">
        BILLNUMBER = #{record.billnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.buyername != null">
        BUYERNAME = #{record.buyername,jdbcType=VARCHAR},
      </if>
      <if test="record.buyertaxcode != null">
        BUYERTAXCODE = #{record.buyertaxcode,jdbcType=VARCHAR},
      </if>
      <if test="record.buyeraddressphone != null">
        BUYERADDRESSPHONE = #{record.buyeraddressphone,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerbankaccount != null">
        BUYERBANKACCOUNT = #{record.buyerbankaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.sellername != null">
        SELLERNAME = #{record.sellername,jdbcType=VARCHAR},
      </if>
      <if test="record.sellertaxcode != null">
        SELLERTAXCODE = #{record.sellertaxcode,jdbcType=VARCHAR},
      </if>
      <if test="record.selleraddressphone != null">
        SELLERADDRESSPHONE = #{record.selleraddressphone,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerbankaccount != null">
        SELLERBANKACCOUNT = #{record.sellerbankaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null">
        CREATEDATE = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null">
        MONTH = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.taxrate != null">
        TAXRATE = #{record.taxrate,jdbcType=DECIMAL},
      </if>
      <if test="record.tax != null">
        TAX = #{record.tax,jdbcType=DECIMAL},
      </if>
      <if test="record.maindetailname != null">
        MAINDETAILNAME = #{record.maindetailname,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.invoicer != null">
        INVOICER = #{record.invoicer,jdbcType=VARCHAR},
      </if>
      <if test="record.cashier != null">
        CASHIER = #{record.cashier,jdbcType=VARCHAR},
      </if>
      <if test="record.checker != null">
        CHECKER = #{record.checker,jdbcType=VARCHAR},
      </if>
      <if test="record.isprinted != null">
        ISPRINTED = #{record.isprinted,jdbcType=VARCHAR},
      </if>
      <if test="record.islisted != null">
        ISLISTED = #{record.islisted,jdbcType=VARCHAR},
      </if>
      <if test="record.iscanceled != null">
        ISCANCELED = #{record.iscanceled,jdbcType=VARCHAR},
      </if>
      <if test="record.authcode != null">
        AUTHCODE = #{record.authcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IM_WEB_INVOICE_DATA_TAB
    set CODE = #{record.code,jdbcType=VARCHAR},
      NO = #{record.no,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      EXTEND = #{record.extend,jdbcType=VARCHAR},
      BILLNUMBER = #{record.billnumber,jdbcType=VARCHAR},
      BUYERNAME = #{record.buyername,jdbcType=VARCHAR},
      BUYERTAXCODE = #{record.buyertaxcode,jdbcType=VARCHAR},
      BUYERADDRESSPHONE = #{record.buyeraddressphone,jdbcType=VARCHAR},
      BUYERBANKACCOUNT = #{record.buyerbankaccount,jdbcType=VARCHAR},
      SELLERNAME = #{record.sellername,jdbcType=VARCHAR},
      SELLERTAXCODE = #{record.sellertaxcode,jdbcType=VARCHAR},
      SELLERADDRESSPHONE = #{record.selleraddressphone,jdbcType=VARCHAR},
      SELLERBANKACCOUNT = #{record.sellerbankaccount,jdbcType=VARCHAR},
      CREATEDATE = #{record.createdate,jdbcType=VARCHAR},
      MONTH = #{record.month,jdbcType=VARCHAR},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      TAXRATE = #{record.taxrate,jdbcType=DECIMAL},
      TAX = #{record.tax,jdbcType=DECIMAL},
      MAINDETAILNAME = #{record.maindetailname,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      INVOICER = #{record.invoicer,jdbcType=VARCHAR},
      CASHIER = #{record.cashier,jdbcType=VARCHAR},
      CHECKER = #{record.checker,jdbcType=VARCHAR},
      ISPRINTED = #{record.isprinted,jdbcType=VARCHAR},
      ISLISTED = #{record.islisted,jdbcType=VARCHAR},
      ISCANCELED = #{record.iscanceled,jdbcType=VARCHAR},
      AUTHCODE = #{record.authcode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aisino.domain.shiro.Test">
    update IM_WEB_INVOICE_DATA_TAB
    <set>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="extend != null">
        EXTEND = #{extend,jdbcType=VARCHAR},
      </if>
      <if test="billnumber != null">
        BILLNUMBER = #{billnumber,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null">
        BUYERNAME = #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="buyertaxcode != null">
        BUYERTAXCODE = #{buyertaxcode,jdbcType=VARCHAR},
      </if>
      <if test="buyeraddressphone != null">
        BUYERADDRESSPHONE = #{buyeraddressphone,jdbcType=VARCHAR},
      </if>
      <if test="buyerbankaccount != null">
        BUYERBANKACCOUNT = #{buyerbankaccount,jdbcType=VARCHAR},
      </if>
      <if test="sellername != null">
        SELLERNAME = #{sellername,jdbcType=VARCHAR},
      </if>
      <if test="sellertaxcode != null">
        SELLERTAXCODE = #{sellertaxcode,jdbcType=VARCHAR},
      </if>
      <if test="selleraddressphone != null">
        SELLERADDRESSPHONE = #{selleraddressphone,jdbcType=VARCHAR},
      </if>
      <if test="sellerbankaccount != null">
        SELLERBANKACCOUNT = #{sellerbankaccount,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        MONTH = #{month,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="taxrate != null">
        TAXRATE = #{taxrate,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        TAX = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="maindetailname != null">
        MAINDETAILNAME = #{maindetailname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="invoicer != null">
        INVOICER = #{invoicer,jdbcType=VARCHAR},
      </if>
      <if test="cashier != null">
        CASHIER = #{cashier,jdbcType=VARCHAR},
      </if>
      <if test="checker != null">
        CHECKER = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="isprinted != null">
        ISPRINTED = #{isprinted,jdbcType=VARCHAR},
      </if>
      <if test="islisted != null">
        ISLISTED = #{islisted,jdbcType=VARCHAR},
      </if>
      <if test="iscanceled != null">
        ISCANCELED = #{iscanceled,jdbcType=VARCHAR},
      </if>
      <if test="authcode != null">
        AUTHCODE = #{authcode,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
      and NO = #{no,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aisino.domain.shiro.Test">
    update IM_WEB_INVOICE_DATA_TAB
    set TYPE = #{type,jdbcType=VARCHAR},
      EXTEND = #{extend,jdbcType=VARCHAR},
      BILLNUMBER = #{billnumber,jdbcType=VARCHAR},
      BUYERNAME = #{buyername,jdbcType=VARCHAR},
      BUYERTAXCODE = #{buyertaxcode,jdbcType=VARCHAR},
      BUYERADDRESSPHONE = #{buyeraddressphone,jdbcType=VARCHAR},
      BUYERBANKACCOUNT = #{buyerbankaccount,jdbcType=VARCHAR},
      SELLERNAME = #{sellername,jdbcType=VARCHAR},
      SELLERTAXCODE = #{sellertaxcode,jdbcType=VARCHAR},
      SELLERADDRESSPHONE = #{selleraddressphone,jdbcType=VARCHAR},
      SELLERBANKACCOUNT = #{sellerbankaccount,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      TAXRATE = #{taxrate,jdbcType=DECIMAL},
      TAX = #{tax,jdbcType=DECIMAL},
      MAINDETAILNAME = #{maindetailname,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      INVOICER = #{invoicer,jdbcType=VARCHAR},
      CASHIER = #{cashier,jdbcType=VARCHAR},
      CHECKER = #{checker,jdbcType=VARCHAR},
      ISPRINTED = #{isprinted,jdbcType=VARCHAR},
      ISLISTED = #{islisted,jdbcType=VARCHAR},
      ISCANCELED = #{iscanceled,jdbcType=VARCHAR},
      AUTHCODE = #{authcode,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
      and NO = #{no,jdbcType=VARCHAR}
  </update>
</mapper>